# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
build/
dist/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env

# VS Code settings
.vscode/

# Ignore AffinityCommon files
AffinityCommon/
*.lock
*.dat

